<h1 class="mt-4">Dashboard</h1>


<p>Hello Mr. : <%= user.name %>
</p>


<link rel="stylesheet" href="stylesheets/style.css">

<!--I will need this for pagination //https://evdokimovm.github.io/javascript/nodejs/mongodb/pagination/expressjs/ejs/bootstrap/2017/08/20/create-pagination-with-nodejs-mongodb-express-and-ejs-step-by-step-from-scratch.html-->


<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Enter trip information</div>
  <div class="card-body">
    <form autocomplete="off" action="/dashboard/addtrip" method="POST">
      <div class="autocomplete" style="width:300px;">
        <label for="birthday">date du voyage:</label>
        <input type="date" id="trip_date" name="trip_date">
          <div>select arrival city
            <input id="Input_arrival" type="text" name="arrival_city" placeholder="city">
          </div>
          <div>select departure city
            <input id="Input_departure" type="text" name="departure_city" placeholder="city">
          </div>
          <div>
            <input id="<%= user._id %>" type="hidden" name="driver_id" value="<%= user._id %>">
          </div>
          <div>
            <input type="submit">
          </div>
      </div>
    </form>  
  </div>
</div>

<p></p>
<h3>You have <%= shit.length %> trip coming. Find informations below:</h3>
<p></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Depature city</th>
      <th scope="col">Arrival city</th>
    </tr>
  </thead>
  <tbody>
    <ul>
      <% for(var i=0; i<shit.length; i++) {%>
        <th scope="row">
          <%= shit[i].trip_date %>
        </th>
        <td>
          <%= shit[i].arrival_city %>
        </td>
        <td>
          <%= shit[i].departure_city %>
        </td>
        </tr>
        <% } %>
    </ul>
  </tbody>
</table>

<% for(var i=0; i<shit.length; i++) {%>
  <div class="cards">
    <div class="content">
      <h3><%= shit[i].trip_date %></h3>
      <h3><%= shit[i].arrival_city %> <i class='fas fa-arrow-right' style='font-size:23px'></i> <%= shit[i].departure_city %> </h3>
      
      <h3>Places disponibles: 3</h3>
      <h3>80 DH</h3>
    </div>
  </div>
  <br>
  <% } %>



<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script src="/cities.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>